.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;
  width: 107%;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 150px;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
}

.card-list .card {
  position: relative;
}

.posters {
  height: 300px;
}
